/* custom.css */
.left-code {
  color: #777;
  width: 43%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 55%;
  float: right;
  padding-left: 1%;
}
.remark-slide-content > h1:first-of-type {
  margin-top: 0px;
}
.remark-slide-content > h2:first-of-type {
  margin-top: 0px;
}
.remark-slide-content {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}
.remark-slide-number {
  position: inherit;
}
.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}
.remark-slide-number .progress-bar {
  height: 100%;
  background-color: purple;
}
.highlight {
  background-color: #dbc3db;
}